
html{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 320px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .left-menu{
        display: none;
    }
    .common-card {
        margin: 22px 0 0 11px;
        padding: 0;
    }
    .aboutImgStyle {
        float: left;
        margin-bottom: 26px;
        margin-left: 0px;
    }
    .about{
        text-align: center;
    }

    .nav-header{
        display: block;
    }

    .heding {
        width: 200px;
        background-color: #2A2F4A;
        color: white;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        color: white;
        font-family: 'viga-regular';
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 20px;
        margin-top: 17px;
    }

    .about-info{
        font-size: small;
    }

    .aboutItem{
        margin: 0;
        padding: 0;
    }

    .about {
        padding: 29px 13px 23px 26px;
        margin: 0 auto;
        position: relative;
    }

    .aboutContent {
        text-align: justify;
        text-justify: inter-word;
        overflow: hidden;
        padding: 21px;
    }

    .project-card {
        margin: 10px;
        padding: 10px 0;
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #a2a2a3;
        padding: 10px;
        width: 324px;
        display: inline-block;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-md-1 { width: 8.33%;}
    .col-md-2 { width: 16.66%;}
    .col-md-3 { width: 25%;}
    .col-md-4 { width: 33.33%;}
    .col-md-5 { width: 41.66%;}
    .col-md-6 { width: 50%;}
    .col-md-7 { width: 58.33%;}
    .col-md-8 { width: 66.66%;}
    .col-md-9 { width: 75%;}
    .col-md-10 { width: 83.33%;}
    .col-md-11 { width: 91.66%;}
    .col-md-12 { width: 100%;}
}

.row{
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar{
    height: 110%;
    background-image: url(https://www.andreasreiterer.at/wp-content/uploads/2017/08/cropped-cropped-orig_647250-2.jpg);
}
.content{
    height: 100%;
    background-color: white;
}
.header{
    margin: 0;
    padding: 2px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 2px rgb(0 0 0 / 20%);
    position: flex;
    width: 103%;
    right: 0;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    margin-bottom: 21px;
}
.header ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header ul li{
    padding: 0;
    margin: 10px;
    font-size: 25px;
    display: inline-block;
    font-family:'viga-regular';
    position: relative;
}
.linksdiv{
    width: 58%;
    margin-top: 50px;
    margin-left: 86px;
}
.nav-menu li{
    padding: 0;
    margin: 5px;
    font-size: 25px;
    font-family:'viga-regular';
    position: relative;
    list-style: none;
    color: black;
    text-align: right;
    border-bottom: 1px solid white; 
}
.nav-menu li a{
   color : white;
}
.header ul li a{
    color: black;
    text-decoration: none;
}
.header ul li:hover{
    color: red;
}

.header ul li:after{
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #2a2f4a;
    transition: all 400ms;  
}
.header ul li.active:after{
    width: 100%;
}
.header ul li:hover:after{
    width: 100%;
}

.header ul li::selection{
    background-color: aqua;
    color: red;
}
.common-card{
    margin:50px;
    padding: 50px 0;
    background-color:#FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px #A2A2A3;
    padding: 40px;
    overflow: hidden;
    width: 100%;
}
.project-card{
    margin:10px;
    padding: 10px 0;
    background-color:#FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #A2A2A3;
    padding: 10px;
    width: 400px;
    display: inline-block;
}
.project-div{
    text-align: center;
    margin-top: 50px;
    height: 800px;
    background-color: white;
}
.profile{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.profilePic{
    width: 150px;
    border-radius: 50%;
    /* border: 3px solid blanchedalmond; */
    margin-bottom: 50px;
}
.profilename{
    color: white;
    font-family:'viga-regular';
    font-size: 14;
    line-height: 20px;
}
.active{
    
}
.heding{
    width: 400px;
    margin: 0 auto 0 ;
    background-color: #2A2F4A;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family:'viga-regular';
    font-size: 34px;
    line-height: 20px;
    margin-bottom: 18px;
}
.about{
    padding:40px 50px;
    margin: 0 auto;
    position: relative;
}
.lftBorder{
    width: 2px;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 30px;
    top: 0;
    background-color: #000;
}
.lftBorder:after,
.lftBorder:before{
    content: '';
    width:26px;
    height:2px;
    padding: 0;
    margin: 0;
    position: absolute;
    left:-12px;
    top: 0;
    background-color: #2A2F4A;
}
.lftBorder:before{
    top:auto;
    bottom: 0;
}
.aboutme{
    color: black;
    font-family:'viga-regular';
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px 0;
}
.about p{
    color: black;
    font-family:'viga-regular';
    font-size: 20px;
    line-height: 30px;
}
.aboutCont{
    padding:0;
    margin:0;
    position: relative;
}
.aboutCont:before{
    content: '';
    width:26px;
    height:2px;
    padding: 0;
    margin: 0;
    position: absolute;
    left:-22px;
    top:19px;
    background-color: #2A2F4A;
}
.aboutCont:after {
    content: '';
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -26px;
    top: 13px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
}
.aboutHdr{
    padding:0 21px 0;
    margin:0;
    border-radius: 10px;
    color:#fff;
    background-color: #2A2F4A;
}
.aboutHdr span{
    padding:0;
    margin:0;
    display: block;
    font-size: 30px;
    line-height: 40px;
}
.aboutItem{
    margin: 0 30px 0;
}

.aboutImgStyle{
    float: right;
    margin-left: 25px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: #A2A2A3;
}
.aboutContent{
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
}
.educationInfo{
    margin-top: 20px;
}
.common-top-margin{
    margin-top: 20px;
}
.educationDate{
    border: 1px solid black;
    width: 150px;
    padding: 10px;
    display:  inline-block;
    border-radius: 5px;
    font-weight: 800;
}
.educationTitle{
    border: 1px solid black;
    width: 1000px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 800;
}
.projectCardImg{
    border-radius: 10px;
    border: 4px solid #444444;
}
.project-card-content{
    margin-top: 20px;
    padding: 20px;
}
.project-card-content-header{
    color: white;
    font-size: 30px;
    font-family: 'viga-regular';
    font-weight: bold;
    background-color: #343434;
    border-radius: 10px;
    padding: 8px;
}
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    width: 93%;
    height: 90%;
}
.zoom:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.blogImg{
    display: block;
    width: 100%;
}
.blogContent{
    text-align: justify;
    text-justify: inter-word;
}
.blog{
    border-bottom: 2px solid #3C3C3C;
    padding-bottom: 30px;
}
.readMore{
    padding: 8px;
    width: 10%;
    color: white;
    border-radius: 40px;
    background-color: #3D3D3D;
    display: inline-block;
    text-align: center;
}

.readMore:hover{
    color: white;
    text-decoration: none;
}

.mehedi{
    padding: 10px;
    width: 30%;
    color: white;
    border-radius: 40px;
    background-color: #3D3D3D;
    display: inline-block;
    text-align: center;
}

.customInput{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contactBox{
    margin: 0 auto;
    width: 50%;
}
.defaultLabel{
    margin: 0;
    padding: 0;
}

.nav-header{
    display: none;
}

.left-menu{
    display: block;
}




